.footer{
  background-color: rgb(18, 81, 18);
  padding: 20px;
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
}
.footer-nav ul, .social-media ul{
  list-style: none;
  padding: 1.5rem;
  margin-left: 3rem;
}

.footer-nav ul li a, .social-media ul li a{
  color: rgb(162, 161, 161);
  margin-left: 15rem;
  font-weight: bold;
}
.footer-nav ul li, .social-media ul li{
  margin-top: 0.5rem;

}
.footer-h2{
  color: white;
  margin-left: 15rem;
}
.footer-logo h1{
  color: white;
  margin-top: 5rem;
  margin-left: 9rem;
}