.signup-con {
  margin-top:130px ;
  margin-left: 400px;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.signup-con h2{
  text-align: center;
  color: #333;
}

.signup-con label {
  display: block;
  margin-top: 10px;
  font-weight:600;  
}
.signup-con input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #333;
  border-radius: 4px;
}

.signup-con button{
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: medium;
}

.page{
  display:inline-flex;
  font-weight: bold;
}
.page p{
  margin-right: 5px
}